{% if current_user.is_authenticated %}
<section id="main-sidebar" class="app-sidebar col-md-3">
	<h4>Activity Logs/Expense Sheet</h4>
	<ul class="list-unstyled">
		<li><a href="/admin/create-activity-log" ng-class="{ active: isActive('/admin/create-activity-log') }">Create Activity Log/Expense Sheet</a></li>
		<li><a href="/#/posts?post_type=Activity_Log" ng-class="{ active: isActive('/posts?post_type=Activity_Log') }">View Activity Logs</a></li>
		<li><a href="/#/posts?post_type=Expense_Sheet" ng-class="{ active: isActive('/posts?post_type=Expense_Sheet') }">View Expense Sheets</a></li>
	</ul>
	<h4>Cumulative Reports</h4>
	<ul class="list-unstyled">
		<li><a href="/admin/report-builder/" target="_self" ng-class="{ active: isActive('/admin/report-builder') }">Create Report</a></li>
		<li><a href="/#/posts?post_type=Report_URL" ng-class="{ active: isActive('/posts?post_type=Report_URL') }">View Saved Reports</a></li>
	</ul>
</section>
{% endif %}
