@charset 'utf-8';

// $icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// $bootstrap-sass-asset-helper: true;
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@import 'ui-select';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700,700italic);

// custom styles
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html, body {
	background: #ededed;
	font-family: "Roboto", sans-serif;
	color: #2a2a2a;
}


h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto Condensed", sans-serif;;
	margin-bottom: 0.809em;
	font-weight: 700;
	text-rendering: optimizeLegibility;
	text-transform: uppercase;

	&.subtitled {
		margin-bottom: 0;
	}
}

.subtitle {
	font-size: .85em;
	font-weight: normal;
	text-transform: none;
	display: block;
	clear: left;
	margin-bottom: 0.809em;

	a {
		font-size: 1em;
	}
}

.login .show-password-checkbox {
	float: right;
	text-align: right;
}

.container-fluid {
	padding-top: 20px;
	padding-bottom: 20px;
}

#app-masthead {
	border-bottom: 1px solid #dee;
	width: 100%;

	@media screen and (max-width: 991px) {
		text-align: center;
	}
}

#user-nav {
	float: right;
	margin-top: 60px;
	text-align: right;
	background: white;
	padding: 10px 30px;

	@media screen and (max-width: 991px) {
		float: right;
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}

	@media screen and (max-width: 402px) {
		text-align: left;
	}

	ul {
		margin-bottom: 0;

		li {
			margin-left: 0;
			margin-right: 10px;
			padding-right: 15px;
			border-right: 1px solid #ddd;

			@media screen and (max-width: 991px) {
				margin: 10px 0;
			}

			&:last-of-type {
				margin-right: 0;
				padding-right: 0;
				border-right: 0;
			}

			a {
				text-decoration: none;
			}
		}
	}
}

.posts-list {
	li {
		a {
			display: block;
			padding: 5px 10px;
			border: 1px solid #ddd;
			margin-bottom: 10px;
			text-decoration: none;
			font-size: 1.1em;
		}
	}
}
.post-list-table {
	a {
		text-decoration: none;
	}
}

.user-role {
	display: block;
	text-transform: uppercase;
	color: #999;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 30px;

	select, .select2 {
		font-size: .8em;
		font-weight: normal;
	}
}

.post-details {
	& > li {
		margin-bottom: 15px;
		font-size: 1em;
		padding: 8px 10px;
		background: #ededed;

		textarea {
			width: 100%;
		}
	}
}

.edit-link, .save-link, .cancel-link {
	cursor: pointer;
}

.hover-link {
	.edit-link {
		opacity: 0;
	}

	&:hover {
		.edit-link {
			opacity: 1;
		}
	}
}

form.post-field {
	.edit-controls {
		margin-top: 10px;
		clear: both;
	}
}

#field-save-msg {
	padding: 5px 10px;
	border-radius: 3px;
	margin-top: 20px;
	display: block;

	&.success {
		background: yellowgreen;
		color: green;
	}

	&.error {
		background: tomato;
		color: darkred;
	}
}

.app-sidebar {
	// padding: 0;

	// &.horiz-nav {
		padding: 10px 5%;
		background: #192560;
		color: white;

		ul {
			margin-right: 20px;
			padding-right: 20px;
			border-right: 3px solid rgba(255,255,255,.4);
			margin-bottom: 0;
			display: inline-block;

			&:last-of-type {
				margin-right: 0;
				padding-right: 0;
				border-right: 0;
			}

			li {
				display: inline-block;
				margin-right: 20px;

				&:last-of-type {
					margin-right: 0;
				}

				a {
					color: white;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}

					&.active {
						color: #deca1f;
					}
				}
			}
		}
	// }

	@media screen and (max-width: 991px) {
		padding: 0;

		ul {
			// margin-bottom: 30px;
			margin-left: 0;
			display: block;
			padding-right: 0;
			margin-right: 0;
			border-right: 0;

			&:first-of-type li:first-of-type a {
				border-top: 0;
			}

			li {
				display: block;
				margin-right: 0;

				a {
					font-size: 1.2em;
					background: #192560;
					padding: 10px 20px;
					color: white;
					display: block;
					width: 100%;
					border-top: 1px solid #394894;
					transition: background .2s;
					cursor: pointer;
					text-decoration: none;


					&:hover {
						background: #394894;
						text-decoration: none;
					}

					&.active {
						color: white;
						background: #deca1f;
						text-decoration: none;
					}
				}
			}
		}
	}
}

#app-wrap {
	padding-bottom: 0;
}

#app-main {
	// padding-bottom: 60px;
	// padding-left: 30px;
	// border: 1px solid #ddd;
	// border-right: 0;
	padding: 20px 5% 60px;
	background: white;

	@media screen and (max-width: 991px) {
		padding-left: 15px;
	}
}

#app-footer {
	background: #2a2a2a;
	color: white;
	width: 100%;
	clear: both;
}

.copyright {
	font-size: .8em;
}

.truthy {
	color: light-green;
}

.select2 > .select2-choice.ui-select-match {
	/* Because of the inclusion of Bootstrap */
	height: 29px;
}

.selectize-control > .selectize-dropdown {
	top: 36px;
}

.form-error {
	display: block;
	background: red;
	color: white;
	padding: 5px 10px;
	margin: 5px 0 20px;
}

.page-sub-title {
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	font-style: italic;
	margin-bottom: 20px;
}

.table:last-of-type {
	margin-bottom: 0;
}

form-field {
	.input-group.date {
		max-width: 300px;
	}
}
.form-field {
	// margin-bottom: 30px;
	padding: 20px 20px 25px;
	border-bottom: 1px dotted #ddd;
	transition: background .15s;

	&:hover {
		background: #F0EDD5;
		color: #2a2a2a;
	}

	&:first-of-type {
		border-top: 1px dotted #ddd;
	}

	&.one-half {
		float: left;
		width: 49%;
		margin-right: 2%;
		border-top: 1px dotted #ddd;

		&:nth-of-type(odd) {
			clear: left;
		}
		&:nth-of-type(even) {
			margin-right: 0;
		}
	}

	input[type=text], input[type=number], input[type=password] {
		padding: 5px;
	}

	textarea {
		width: 100%;
	}
	.repeater-field {
		table {
			thead th {
				font-size: .9em;
			}
			tr {
				th, td {
					padding: 8px 8px 8px 0;

					input {
						width: 100%;
					}

					&:last-of-type {
						text-align: right;
					}
				}
			}
		}
	}
}

.blue-box {
	background: #192560;
	padding: 20px;
	color: white;

	.form-field {
		&:hover {
			background: #48538A;
			color: #fff;
		}
	}

	input, textarea, select {
		color: black;
	}
}

a {
	color: #192560;
	font-weight: bold;
	text-decoration: underline;

	&:hover, &:active {
		color: #394894;
		text-decoration: none;
	}
}

.btn {
	&.btn-primary, &.btn.btn-success {
		border-radius: 0;
		box-shadow: 0 3px 0 #dedede;
		border: 0;
		font-weight: bold;
		padding: 10px 20px;
		text-decoration: none;
		transition: background-color .15s;
	}
	&.btn-primary {
		color: #fff;
		background-color: #192560;

		&:hover {
			background-color: #394894;
		}
	}

	&.btn-success {
		color: #2a2a2a;
		background-color: #deca1f;
		text-shadow: 0 1px 0 #e9db61;

		&:hover {
			background-color: #e6d54a;
		}
	}

	.date .input-group-btn & {
		border-radius: 0 6px 6px 0;
		padding: 7px 6px 6px;
		border: 1px solid #ddd;
	}

	&.small {
		padding: 5px 10px;
		font-size: .9em;
	}

	&.large {
		padding: 15px 30px 13px;
		font-size: 1.2em;
		text-transform: uppercase;
	}
}

.clear {
	clear: both;
}

.faded.ng-hide {
	opacity: 0;
}

.faded.ng-hide-remove,
.faded.ng-hide-add {
	display: block !important;
}

.faded.ng-hide-remove {
	transition: all linear 600ms;
}

.faded.ng-hide-add {
	transition: all linear 400ms;
}


// App Settings
.app-setting-panel {
	&.ng-hide {
		opacity: 0;
	}

	&.ng-hide-remove,
	&.ng-hide-add {
		display: block !important;
	}

	&.ng-hide-remove {
		transition: all linear .15s .3s;
	}

	&.ng-hide-add {
		transition: all linear .15s;
	}
}


.print-btn {
	float: right;
	margin-top: 10px;
}

//report builder styles
#report-output {
	.report-title {
		float: left;
	}

}

.report-table-wrapper {
	overflow-x: auto;
	border: 1px solid #ddd;

	table.table-bordered {
		border: 0;
	}
}

#widget-type-form {
	border-top: 1px solid #ddd;
	padding-top: 15px;
	clear: both;
}

#report-filters {
	margin-bottom: 30px;

	h4 {
		float: left;
		 & + .form-field {
			clear: both;
		}
	}

	.btn-add {
		margin-top: 20px;
	}

	.report-filters {
		clear: both;
	}

}

.results {
	clear: both;
	margin-top: 30px;
	margin-bottom: 30px;
	float: left;
	width: 100%;
}

.report-widget {
	padding: 20px;
	// border: 1px solid #ddd;
	width: 49.25%;
	margin-right: 1.5%;
	margin-bottom: 1.5%;
	float: left;
	background-color: #f9f9f9;

	&:nth-of-type(even) {
		margin-right: 0;
	}

	@media screen and (max-width: 991px) {
		width: 100%;
		margin-right: 0;
	}

	h3 {
		float: left;
		margin-top: 0;
	}

	h4 {
		clear: left;
		float: left;
	}

	.btn.btn-primary {
		margin-top: 20px;
	}

	.filter {
		display: block;
		clear: both;
		font-size: .9em;
		font-weight: bold;
		font-style: italic;
	}
}

.chart-container {
	width: 100%;
	max-width: 400px;
	height: auto;
	margin-top: 30px;
	margin: 30px auto;

	canvas {
		position: relative;
	}
}

.report-filters, .widget-filters, .widget-metrics {

	li {
		margin-bottom: 5px;
	}
}
.filter-select, .metric-select {
	// width: 40%;

	select {
		width: 70%;
		float: left;
	}
}

.widget-settings {
	clear: both;
}

.round-controls {
	border-radius: 50%;
	background: white;
	width: 30px;
	height: 30px;
	border: 1px solid #ddd;
	float: left;
	margin-left: 10px;
	box-shadow: none;
	line-height: 30px;
	padding: 0;
	position: relative;
	top: 15px;

	&.collapsible-control  {
		float: right;
	}
}

.add-filter {
	clear: both;
	float: left;
}

.remove-widget {
	float: right;
	text-decoration: none;
	cursor: pointer;
}

.save-report-btn {
	float: right;

	@media screen and (max-width: 991px) {
		float: left;
		width: 100%;
		margin-top: 30px;
	}
}

.widget-collapsible {
	overflow: hidden;
	transition: all .15s;
	clear: both;
	margin-bottom: 15px;
	border-bottom: 1px solid #ddd;

	&.collapsed {
		padding-bottom: 0px;
		max-height: 0;
	}

	&.expanded {
		padding-bottom: 15px;
		max-height: 999px;
	}
}

.filter-details {
	clear: both;
	float: left;
	margin-top: 10px;
	margin-bottom: 30px;
	width: 100%;

	label {
		width: 100%;
	}
}

.widget-setting-label {
	font-weight: bold;
	font-size: 1.4em;
}

.chart-add-btn {
	width: 100%;
	margin-top: 15px;
}

.widget-create {
	font-size: .8em;
	padding: 10px 20px;

	.widget-create-toggle {
		width: 100%;
		text-align: center;
		font-size: 1.1em;
		font-weight: 700;
		text-transform: uppercase;
		cursor: pointer;
		display: block;
	}

	.widget-create-controls {
		transition: all .25s;
		overflow: hidden;

		& > div {
			clear: both;
		}

		&.open {
			max-height: 900px;
			margin-bottom: 10px;
		}

		&.closed {
			max-height: 0;
		}
	}

	.btn.small {
		font-size: 1.2em;
	}

	.form-field {
		padding: 10px 10px 15px;
	}

	.form-control {
		height: 21px;
		font-size: 12px;
	}

	.date .input-group-btn .btn {
		border-radius: 0 3px 3px 0;
		padding: 0px 4px;

		i {
			font-size: 11px;
		}
	}
}

.chart-metrics {
	label {
		display: block;
	}
}

.activity-report-table {
	font-size: .85em;

	th.sortable {
		cursor: pointer;

		span.sortorder {
			opacity: 0;
		}

		&:hover {
			span.sortorder {
				opacity: 1;
			}
		}
	}

	ul {
		padding: 0 20px;
	}

	th, td {
		white-space: nowrap;
	}
}

.sortorder:after {
	content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
	content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}

.report-type-option {
	float: left;
	margin-right: 40px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
