@charset 'utf-8';

@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.form-group {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #dee;
}
.login .show-password-checkbox {
	float: right;
	text-align: right;
}

.container-fluid {
	padding-top: 20px;
	padding-bottom: 20px;
}

#app-masthead {
	border-bottom: 1px solid #dee;
	width: 100%;
}

#user-nav {
	float: right;
	margin-top: 60px;
	text-align: right;
}

.posts-list {
	li {
		a {
			display: block;
			padding: 5px 10px;
			border: 1px solid #ddd;
			margin-bottom: 10px;
		}
	}
}

.user-role {
	display: block;
	text-transform: uppercase;
	color: #999;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 30px;
}

.post-details {
	& > li {
		margin-bottom: 15px;
		font-size: 1em;

		.edit-link {
			opacity: 0;
		}

		&:hover {
			.edit-link {
				opacity: 1;
			}
		}
	}
}

.edit-link, .save-link, .cancel-link {
	cursor: pointer;
}

// form.post-field {
// 	float: left;
// 	clear: left;
// }

#field-save-msg {
	padding: 5px 10px;
	border-radius: 3px;
	margin-top: -3px;

	&.success {
		background: yellowgreen;
		color: green;
	}

	&.error {
		background: tomato;
		color: darkred;
	}
}

#app-sidebar {
	background: #ddd;
}

#app-main {
}

#app-footer {
	background: #eee;
	width: 100%;
	clear: both;
}

.copyright {
	font-size: .8em;
}

.truthy {
	color: light-green;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
