@charset 'utf-8';

@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.container-fluid {
	padding-top: 20px;
	padding-bottom: 20px;
}

#app-masthead {
	border-bottom: 1px solid #dee;
	width: 100%;
}

#user-nav {
	float: right;
	margin-top: 60px;
	text-align: right;
}

#app-sidebar {
	background: #ddd;
}

#app-main {
}

#app-footer {
	background: #eee;
	width: 100%;
	clear: both;
}

.copyright {
	font-size: .8em;
}
