<!-- extend app base layout -->
{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-md-2 col-md-offset-5">
		<h2>Create a New District</h2>
		<form action="" method="post" name="register">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<label for="district_name" class="sr-only">{{ form.district_name.label }}:</label>
				{{ form.district_name(size=40,class_="form-control",placeholder="District Name") }}<br />
				{% for error in form.district_name.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}

				<label for="district_schools">Set District Schools:</label><br />
				{{ form.district_schools(multiple="multiple") }}
				{% for error in form.district_schools.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}

			</fieldset>
			<!-- <p>{{ form.is_admin }} <label for="is_admin"><strong>This user is an Administrator</strong></strong></p> -->
			<p><input type="submit" class="btn btn-success" value="Create District"></p>
		</form>
	</div>
</div>

{% endblock %}
