<div>
	<label ng-if='label' for='{[ fieldName ]}'>{[ label ]}</label>
	<input json-text id='{[ fieldName ]}' name='{[ fieldName ]}' type='text' ng-hide='true' ng-model='inData'>
	<table class='ui table'>
		<thead>
			<tr>
				<th ng-repeat='f in fields track by $index'><strong>{[ f.field_label ]}</strong></th>
				<th>
					<button type='button' class='repeater-add btn btn-default' ng-click='addItem("{[ fieldName ]}")' aria-label='Add Item' title='Add Item'><span class='glyphicon glyphicon-plus' aria-hidden='true'></span></button>
				</th>
			</tr>
		</thead>

		<tr data-toggle='fieldset-entry' ng-repeat='i in inData.field_rows track by $index'>
			<td ng-repeat='f in fields track by $index'>
				<form-field model='inData.field_rows[$parent.$index][$index]["field_val"]' name='{[ fieldName ]}-{[ $parent.$index ]}-{[ f.field_id ]}' placeholder='{[ f.field_label ]}' type='{[ f.field_type ]}' field-val='{[inData.field_rows[$parent.$index][$index]["field_val"]]}'></form-field>
			</td>
			<td><button ng-if='inData.field_rows.length > 1' type='button' class='repeater-remove btn btn-default' ng-click='removeItem($parent.$index)' aria-label='Remove Item' title='Remove Item'><span class='glyphicon glyphicon-minus' aria-hidden='true'></span></button></td>
		</tr>
	</table>
</div>
