<strong ng-if="label">{[ label ]}:</strong>

<span ng-if="isArray(keys)" ng-repeat='key in keys track by $index' ng-hide='editMode'>{[ fieldData.displayValue[key] | currency ]} </span>
<form-field ng-if="isArray(keys)" ng-repeat='key in keys track by $index' auto-focus='{[ ($index === 0) && editMode ]}' model='fieldData.newValue[key]' ng-show='editMode' placeholder='{[ fieldData.displayValue[key] ]}' type='money'></form-field>

<span ng-if="!isArray(keys)" ng-hide='editMode'>{[ fieldData.displayValue | currency ]} </span>
<form-field ng-if="!isArray(keys)" auto-focus='{[ editMode ]}' model='fieldData.newValue' ng-show='editMode' placeholder='{[ fieldData.displayValue ]}' type='money'></form-field>

<dynamic-element ng-if='editAccess(postID, postType, adminOnly)' html='editBtn'></dynamic-element>
