<strong ng-if="label">{[ label ]}:</strong>
<dynamic-element ng-if='editAccess(postID, postType, adminOnly)' html='editBtn'></dynamic-element>
<table class="table table-striped table-hover table-responsive table-bordered" ng-hide='editMode'>
	<tr ng-repeat="item in fieldData.displayValue">
		<td>{[item]}</td>
	</tr>
</table>

<form-field ng-if='editMode' model='fieldData.value' placeholder='{[ label ]}' type='multiselect' select-options="{postType: optionsPostType, postFilter: optionsPostFilter, only: optionsOnly, allowAll: allowAllOptions}" key-val="[optionKey, optionVal]"></form-field>
