<strong ng-if="label">{[ label ]}:</strong>
<dynamic-element ng-if='editAccess(postID, postType, adminOnly)' html='editBtn'></dynamic-element>
<table class="table table-striped table-hover table-responsive table-bordered" ng-hide='editMode'>
	<tr ng-repeat="item in fieldData.displayValue">
		<td>{[item]}</td>
	</tr>
</table>

<select-2-field ng-if='editMode' field-name='' multiple='true' label="{[ label ]}" select-options="{postType: optionsPostType, postFilter: optionsPostFilter, only: optionsOnly}" model="fieldData.value" key-val="[optionKey, optionVal]" min-width="300px"></select-2-field>
