<strong ng-if="label">{[ label ]}:</strong>

<span ng-if="isArray(keys)" ng-repeat='key in keys track by $index' ng-hide='editMode'>{[ fieldData.displayValue[key] ]} </span>
<input ng-if="isArray(keys)" ng-repeat='key in keys track by $index' type='number' focus-me='{[ editMode ]}' ng-show='editMode' placeholder='{[ fieldData.displayValue[key] ]}' ng-model='fieldData.value[key]' />

<span ng-if="!isArray(keys)" ng-hide='editMode'>{[ fieldData.displayValue ]} </span>
<input ng-if="!isArray(keys)" type='number' focus-me='{[ editMode ]}' ng-show='editMode' placeholder='{[ fieldData.displayValue ]}' ng-model='fieldData.value' />

<dynamic-element ng-if='editAccess(postID, postType, adminOnly)' html='editBtn'></dynamic-element>
