<h1>Activity Log - {[ postData.name ]}</h1>
<a href="/#/post?id={[ postData.expense_sheet ]}&amp;post_type=Expense_Sheet">View Expense Sheet for this Activity Log</a>
<hr />

<ul class="post-details list-unstyled">
	<li class="hover-link"><postfield admin-only='true' type='select' field-data='{ postType: "User", optionKeyVal: ["username", "id"], initValue: postData.user }' label='Activity Log Creator' keys='"user"' relationship="true"></postfield></li>

	<li class="hover-link"><postfield admin-only='false' type='text' field-data='{ initValue: postData.name }' label='Activity Title' keys='"name"' is-title="true"></postfield></li>

	<li class="hover-link"><postfield admin-only='false' type='multiselect' field-data='{ postType: "Activity_Type", optionKeyVal: ["name", "id"], initValue: postData.activity_types }' label='Activity Types' keys='"activity_types"' relationship="true"></postfield></li>

	<li class="hover-link"><postfield admin-only='false' type='datetime' field-data='{ initValue: postData.activity_date_start }' label='Activity Start Date' keys='"activity_date_start"'></postfield></li>

	<li class="hover-link"><postfield admin-only='false' type='datetime' field-data='{ initValue: postData.activity_date_end }' label='Activity End Date' keys='"activity_date_end"'></postfield></li>


	<li class="hover-link"><postfield admin-only='false' type='multiselect' field-data='{ postType: "District", optionKeyVal: ["name", "id"], initValue: postData.districts, allowAll: true }' label='Participating Districts' keys='"districts"' relationship="true"></postfield></li>

	<li class="hover-link"><postfield admin-only='false' type='multiselect' field-data='{ postType: "School", optionKeyVal: ["name", "id"], initValue: postData.schools }' label='Participating Schools' keys='"schools"' relationship="true"></postfield></li>

	<li class="hover-link"><postfield admin-only='false' type='textarea' field-data='{ initValue: postData.report_notes }' label='Report Notes' keys='"report_notes"' is-title="true"></postfield></li>
</ul>

<hr />

<br /><br />
