<h1>User - {[ postData.name ]}</h1>

<span class="user-role"><postfield admin-only='true' type='select' field-data='{ postType: "Role", only: "name", initValue: postData.urole }' label='Access Role' keys='"urole"'></postfield></span>

<ul class="post-details list-unstyled">
	<li class="hover-link"><postfield admin-only='false' type='text' field-data='{ initValue: postData.name }' label='Username' keys='"username"'></postfield></li>

	<li class="hover-link"><postfield admin-only='false' type='password' field-data='{ initValue: postData.password }' label='Password' keys='"password"'></postfield></li>

	<li class="hover-link"><postfield admin-only='false' type='text' field-data='{ initValue: {first_name: postData.first_name, last_name: postData.last_name} }' label='Full Name' keys='["first_name", "last_name"]'></postfield></li>

	<li class="hover-link"><postfield admin-only='false' type='email' field-data='{ initValue: postData.email }' label='Email Address' keys='"email"'></postfield></li>

	<li class="hover-link"><postfield admin-only='true' type='money' field-data='{ initValue: postData.salary }' label='Salary' keys='"salary"'></postfield></li>

	<li class="hover-link"><postfield admin-only='true' type='multiselect' field-data='{ postType: "District", optionKeyVal: ["name", "id"], initValue: postData.districts }' label='Districts' keys='"districts"' relationship="true"></postfield></li>

	<li class="hover-link"><postfield admin-only='true' type='multiselect' field-data='{ postType: "School", optionKeyVal: ["name", "id"], initValue: postData.schools }' label='Schools' keys='"schools"' relationship="true"></postfield></li>
</ul>

<hr />

<h3>User Activity</h3>
<ul>
	<li><a href="/#/posts?post_type=Activity_Log">Activity Logs</a></li>
	<li><a href="/#/posts?post_type=Expense_Sheet">Expense Sheets</a></li>
	<li><a href="/#/posts?post_type=Report_URL">Saved Reports</a></li>
</ul>
<br /><br />
