<h1>User - {[ postData.username ]}</h1>

<span class="user-role"><postfield admin-only='false' type='select' field-data='{ postType: "Role", only: "name", initValue: postData.urole }' label='Access Role' keys='"urole"'></postfield></span>

<ul class="post-details list-unstyled">
	<li class="hover-link"><postfield admin-only='false' type='text' field-data='{ initValue: postData.username }' label='Username' keys='"username"' is-title="true"></postfield></li>

	<li class="hover-link"><postfield admin-only='false' type='password' field-data='{ initValue: postData.password }' label='Password' keys='"password"'></postfield></li>

	<li class="hover-link"><postfield admin-only='false' type='text' field-data='{ initValue: {first_name: postData.first_name, last_name: postData.last_name} }' label='Full Name' keys='["first_name", "last_name"]'></postfield></li>

	<li class="hover-link"><postfield admin-only='false' type='email' field-data='{ initValue: postData.email }' label='Email Address' keys='"email"'></postfield></li>

	<li class="hover-link"><postfield admin-only='true' type='number' field-data='{ initValue: postData.contract_days }' label='Contract Days' keys='"contract_days"'></postfield></li>


	<li><strong>Employee Daily Cost: </strong>{[ (postData.salary/postData.contract_days) | currency ]}/day</li>

	<li class="hover-link"><postfield admin-only='true' type='money' field-data='{ initValue: postData.salary }' label='Employee Total Cost' keys='"salary"'></postfield></li>

	<li class="hover-link"><postfield formatted-output="{[ postData.cell_reimbursement | cellreimformat ]}" admin-only='false' type='select' field-data='{ initValue: [(postData.cell_reimbursement | cellreimformat), postData.cell_reimbursement], selectOptions: [["Full ($" + globalSettings.cell_reimbursement + "/mo)", (globalSettings.cell_reimbursement * 100)], ["Half ($" + (globalSettings.cell_reimbursement * 0.5) + "/mo)", ((globalSettings.cell_reimbursement * 0.5) * 100)], ["No Reimbursement", 0]] }' label='Cell Phone Reimbursement Rate' keys='"cell_reimbursement"'></postfield></li>

	<li class="hover-link"><postfield admin-only='true' type='multiselect' field-data='{ postType: "District", optionKeyVal: ["name", "id"], initValue: postData.districts, allowAll: true  }' label='Districts' keys='"districts"' relationship="true"></postfield></li>

	<li class="hover-link"><postfield admin-only='true' type='multiselect' field-data='{ postType: "School", optionKeyVal: ["name", "id"], initValue: postData.schools, allowAll: true  }' label='Schools' keys='"schools"' relationship="true"></postfield></li>
</ul>

<hr />

<h3>User Activity</h3>
<ul>
	<li><a href="/#/posts?post_type=Activity_Log&post_filter_key=User&post_filter_val={[ postData.name ]}&post_filter=(Activity_Log.user_id==&#39;{[ postData.id ]}&#39;)">Activity Logs</a></li>
	<li><a href="/#/posts?post_type=Expense_Sheet&post_filter_key=User&post_filter_val={[ postData.name ]}&post_filter=(Expense_Sheet.user_id==&#39;{[ postData.id ]}&#39;)">Expense Sheets</a></li>
	<li><a href="/#/posts?post_type=Report_URL&post_filter_key=User&post_filter_val={[ postData.name ]}&post_filter=(Report_URL.user_id==&#39;{[ postData.id ]}&#39;)">Saved Reports</a></li>
</ul>
<br /><br />
