<h1>School - {[ postData.name ]}</h1>

<ul class="post-details list-unstyled">
	<li class="hover-link"><postfield admin-only='true' type='text' field-data='{ initValue: postData.name }' label='School Name' keys='"name"' is-title="true"></postfield></li>

	<li class="hover-link"><postfield admin-only='true' type='select' field-data='{ postType: "School_Type", optionKeyVal: ["name", "id"], initValue: postData.school_type }' label='School Type' keys='"school_type"' relationship="true"></postfield></li>

	<li class="hover-link"><postfield admin-only='false' type='multiselect' field-data='{ postType: "School_Level", optionKeyVal: ["name", "id"], initValue: postData.school_levels }' label='School Levels' keys='"school_levels"' relationship="true"></postfield></li>

	<li class="hover-link"><postfield admin-only='false' type='multiselect' field-data='{ postType: "Location_Service", optionKeyVal: ["name", "id"], initValue: postData.location_services }' label='School Services' keys='"location_services"' relationship="true"></postfield></li>

	<li class="hover-link"><postfield admin-only='true' type='select' field-data='{ postType: "District", optionKeyVal: ["name", "id"], initValue: postData.district }' label='District' keys='"district"' relationship="true"></postfield></li>

	<li><strong>Users:</strong>
		<p ng-if="postData.users.length <= 0"><em>There are no users associated with this school.</em></p>
		<ul ng-if="postData.users.length > 0" class='list-unstyled'>
			<li ng-repeat="user in postData.users">
				{[user.name]} <small><strong>({[user.urole]})</strong></small>
			</li>
		</ul>
	</li>
</ul>

<h3>School Data Resources</h3>
<ul>
	<li ng-repeat="link in postData.data_links['field_rows'] track by $index"><a href="{[ link[1].field_val ]}" target="_blank">{[ link[0].field_val ]}</a></li>
	<li ng-repeat="link in globalSettings.global_data_links track by $index"><a href="{[ link.link_url ]}" target="_blank">{[ link.link_title ]}</a></li>
</ul>

