<!-- extend app base layout -->
{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-md-2 col-md-offset-5">
		<h2>Sign In</h2>
		<form action="" method="post" name="login">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<label for="username" class="sr-only">Username:</label>
				{{ form.username(size=40,class_="form-control",placeholder="Username") }}<br />
				{% for error in form.username.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}

				<label for="password" class="sr-only">Password:</label>
				{{ form.password(type="{[ passwordInputType ]}",size=40,class_="form-control",placeholder="Password") }}
				<hideshowpass></hideshowpass>
				{% for error in form.password.errors %}
					<br /><span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</fieldset>
	<!-- 		<p>{{ form.remember_me }} Remember Me</p>
	 -->
	 		<p class="small"><a href="{{ url_for('login_bp.reset') }}" target="_self">Can't log in? Request a password reset.</a></p>
	 		<input type="submit" class="btn btn-success" value="Sign In">
		</form>
	</div>
</div>
{% endblock %}
