<!-- extend app base layout -->
{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-md-2 col-md-offset-5">
		<h2>Password Reset Request</h2>
		<p>Reset your password</p>
		<form action="" method="post" name="reset">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				{{ form.email.label(class_="sr-only") }}<br />
				{{ form.email(size=40,class_="form-control",placeholder=form.email.label.text) }}
			</fieldset>
			<input type="submit" class="btn btn-primary" value="Request Password Reset">
		</form>
	</div>
</div>
{% endblock %}
