{% macro text_field(form, field_name, field) %}
	<div class='text-field' data-toggle='fieldset'>
		<label for="{{field_name}}">{{field.label.text}}:</label><br />
		<form-field name='{{field_name}}' type='text'></form-field>
		{% for error in field.errors %}
			<br /><span class='form-error'>{{ error }}</span>
		{% endfor %}
	</div>
{% endmacro %}

{% macro number_field(form, field_name, field) %}
	<div class='number-field' data-toggle='fieldset'>
		<label for="{{field_name}}">{{field.label.text}}:</label><br />
		<form-field name='{{field_name}}' type='number'></form-field>
		{% for error in field.errors %}
			<br /><span class='form-error'>{{ error }}</span>
		{% endfor %}
	</div>
{% endmacro %}

{% macro password_field(form, field_name, field) %}
	<div class='password-field' data-toggle='fieldset'>
		<label for="{{field_name}}">{{field.label.text}}:</label><br />
		<form-field name='{{field_name}}' placeholder='New Password' type='password'></form-field>
		{% for error in field.errors %}
			<br /><span class='form-error'>{{ error }}</span>
		{% endfor %}
	</div>
{% endmacro %}

{% macro textarea_field(form, field_name, field) %}
	<div class='textarea-field' data-toggle='fieldset'>
		<label for="{{field_name}}">{{field.label.text}}:</label><br />
		<form-field name='{{field_name}}' type='textarea' rows='4'></form-field>
		{% for error in field.errors %}
			<br /><span class='form-error'>{{ error }}</span>
		{% endfor %}
	</div>
{% endmacro %}

{% macro repeater_field(form, field_name, field, fields_data) %}
	<div class='repeater-field' data-toggle='fieldset'>
		<complex-repeater-field label="{{ field.label.text }}" field-name="{{ field_name }}" fields="{{ fields_data }}"></complex-repeater-field>

		{% for error in field.errors %}
			<span class='form-error'>{{ error }}</span>
		{% endfor %}
	</div>
{% endmacro %}

{% macro datepicker_field(form, field_name, field) %}
	<div class='datepicker-field' data-toggle='fieldset'>
		<label for="{{field_name}}">{{field.label.text}}:</label>
		<form-field name='{{field_name}}' type='date'></form-field>
		{% for error in field.errors %}
			<br /><span class='form-error'>{{ error }}</span>
		{% endfor %}
	</div>
{% endmacro %}

{% macro select_field(form, field_name, field, select_options, key_val) %}
	<div class='select-field' data-toggle='fieldset'>
		<label for="{{field_name}}">{{field.label.text}}:</label>
		<form-field name='{{field_name}}' placeholder='{{field.label.text}}' type='select' select-options="{{select_options}}" key-val="{{key_val}}"></form-field>
		{% for error in field.errors %}
			<span class='form-error'>{{ error }}</span>
		{% endfor %}
	</div>
{% endmacro %}

{% macro multi_select_field(form, field_name, field, select_options, key_val) %}
	<div class='multi-select-field' data-toggle='fieldset'>
		<label for="{{field_name}}">{{field.label.text}}:</label>
		<form-field name='{{field_name}}' placeholder='{{field.label.text}}' type='multiselect' select-options="{{select_options}}" key-val="{{key_val}}"></form-field>
		{% for error in field.errors %}
			<span class='form-error'>{{ error }}</span>
		{% endfor %}
	</div>
{% endmacro %}
