<header id="app-masthead">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<a href="/#/"><img src="static/img/sesc_logo.png" width="160" alt="SESC" /></a>
			</div>

			<nav id="user-nav">
				<ul class='list-inline'>
					{% if current_user.is_authenticated %}
 						<li><a href='/#/post?id={{ current_user.id }}&amp;post_type=User' target="_self"><span class="glyphicon glyphicon-apple" aria-hidden="true"></span> &nbsp;My Account</a></li>
						{% if current_user.urole == "Administrator" or current_user.urole == "Consultant" %}
		 					<li><a href="/#/posts?post_type=District"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> &nbsp;Districts</a></li>
		 					<li><a href="/#/posts?post_type=School"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> &nbsp;Schools</a></li>
	 					{% endif %}
						{% if current_user.urole == "Administrator" %}
		 					<li><a href="/#/posts?post_type=User"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp;User Management</a></li>
		 					<li><a href='{{url_for("admin_bp.admin_page")}}'><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> &nbsp;Application Settings</a></li>
	 					{% endif %}
	 					<li><a href='{{url_for("login_bp.logout")}}' target="_self"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> &nbsp;Log out</a></li>
					{% else %}
						<li><a href="{{ url_for('login_bp.reset') }}" target="_self"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> &nbsp;Reset Password</a></li>
						<li><a href='{{url_for("login_bp.login")}}' target="_self"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> &nbsp;Sign In</a></li>
					{% endif %}
				</ul>
			</nav>
		</div>
	</div>
</header>
