<!-- extend app base layout -->
{% extends "base.html" %}

{% block content %}
<div class="row" ng-controller='appSettingsCtrl' ng-init="curPanel='access-roles'">
	{% include 'partials/sidebar/sidebar-main.html' %}
	<div id="app-main" class="app-settings-page">
		<div class="container-fluid">
			<h2>Application Settings</h2>
			{% include 'partials/sidebar/app-settings-subnav.html' %}

			<button class="btn btn-success" ng-click="saveAppSettings()">Save Settings</button><br /><br />

			<div ng-show="curPanel === 'access-roles'" id="access-roles" class="app-setting-panel">
				<h3>Access Roles</h3>
	 			<repeater repeater-type="simple" label='Role' model='curRoles' fields='[{field_label: "Access Role", field_id: "name", field_type: "text"},{field_label: "Role Description", field_id: "description", field_type: "textarea"}]'></repeater>
	 		</div>

			<div ng-show="curPanel === 'activity-options'" id="activity-options" class="app-setting-panel">
				<h3>Activity Types</h3>
	 			<repeater repeater-type="simple" label='Activity Type' model='curActivityTypes' fields='[{field_label: "Activity Type", field_id: "name", field_type: "text"},{field_label: "Activity Type Description", field_id: "description", field_type: "textarea"}]'></repeater>

	 			<br /><br />

				<h3>Activity Topics</h3>
	 			<repeater repeater-type="simple" label='Activity Topic' model='curActivityTopics' fields='[{field_label: "Activity Topic", field_id: "name", field_type: "text"},{field_label: "Activity Topic Description", field_id: "description", field_type: "textarea"}]'></repeater>

	 			<br /><br />

				<h3>Activity Scopes</h3>
	 			<repeater repeater-type="simple" label='Activity Scope' model='curActivityScopes' fields='[{field_label: "Activity Scope", field_id: "name", field_type: "text"},{field_label: "Activity Scope Description", field_id: "description", field_type: "textarea"}]'></repeater>

	 			<br /><br />

				<h3>Delivery Methods</h3>
	 			<repeater repeater-type="simple" label='Delivery Method' model='curDeliveryMethods' fields='[{field_label: "Delivery Method", field_id: "name", field_type: "text"},{field_label: "Delivery Method Description", field_id: "description", field_type: "textarea"}]'></repeater>

	 			<br /><br />

				<h3>School Designations</h3>
	 			<repeater repeater-type="simple" label='School Designation' model='curSchoolDesignations' fields='[{field_label: "School Designation", field_id: "name", field_type: "text"},{field_label: "School Designation Description", field_id: "description", field_type: "textarea"}]'></repeater>

	 			<br /><br />

				<h3>Work Days</h3>
	 			<repeater repeater-type="simple" label='Work Day' model='curWorkDays' fields='[{field_label: "Work Day", field_id: "name", field_type: "text"},{field_label: "Work Day Description", field_id: "description", field_type: "textarea"}]'></repeater>
	 		</div>

			<div ng-show="curPanel === 'school-district-options'" id="school-district-options" class="app-setting-panel">
				<h3>School Types</h3>
	 			<repeater repeater-type="simple" label='School Type' model='curSchoolTypes' fields='[{field_label: "School Type", field_id: "name", field_type: "text"}]'></repeater>

	 			<br /><br />

				<h3>School Levels</h3>
	 			<repeater repeater-type="simple" label='School Level' model='curSchoolLevels' fields='[{field_label: "School Level", field_id: "name", field_type: "text"}]'></repeater>

	 			<br /><br />

				<h3>District/School Services</h3>
	 			<repeater repeater-type="simple" label='District/School Service' model='curDistrictSchoolServices' fields='[{field_label: "District/School Service", field_id: "name", field_type: "text"}]'></repeater>
	 		</div>

			<div ng-show="curPanel === 'reimbursement'" id="reimbursement" class="app-setting-panel">
	 			<h3>Mileage Reimbursement Rate (cents per mile)</h3>
	 			<form-field model='curAppSettings.mileage_reimbursement' placeholder='Mileage Reimbursement' type='number'></form-field>
	 			<br /><br />
	 			<h3>Cell Phone Reimbursement Max ($/month)</h3>
				<form-field model='curAppSettings.cell_reimbursement' placeholder='Cell Phone Reimbursement' type='number'></form-field>
	 		</div>

			<div ng-show="curPanel === 'data-links'" id="data-links" class="app-setting-panel">
	 			<h3>Global Data Links</h3>
	  			<repeater repeater-type="simple" label='Global Data Links' model='curAppSettings.global_data_links' fields='[{field_label: "Link Title", field_id: "link_title", field_type: "text"},{field_label: "Link URL", field_id: "link_url", field_type: "text"}]'></repeater>
	  		</div>
		</div>
	</div>
</div>

{% endblock %}
