<!-- extend app base layout -->
{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h2>Application Settings</h2>
		<div ng-controller='appSettingsCtrl'>
			<div class="form-field">
				<h3>Access Roles</h3>
	 			<simple-repeater-form label='Role' data='curRoles' fields='[{fieldLabel: "Access Role", fieldName: "name", fieldType: "text"},{fieldLabel: "Role Description", fieldName: "description", fieldType: "textarea"}]'></simple-repeater-form>
	 		</div>

			<div class="form-field">
				<h3>Activity Types</h3>
	 			<simple-repeater-form label='Activity Type' data='curActivityTypes' fields='[{fieldLabel: "New Activity Type", fieldName: "name", fieldType: "text"},{fieldLabel: "Activity Type Description", fieldName: "description", fieldType: "textarea"}]'></simple-repeater-form>
	 		</div>

			<div class="form-field">
				<h3>School Types</h3>
	 			<simple-repeater-form label='School Type' data='curSchoolTypes' fields='[{fieldLabel: "New School Type", fieldName: "name", fieldType: "text"}]'></simple-repeater-form>
	 		</div>

			<div class="form-field">
				<h3>School Levels</h3>
	 			<simple-repeater-form label='School Level' data='curSchoolLevels' fields='[{fieldLabel: "New School Level", fieldName: "name", fieldType: "text"}]'></simple-repeater-form>
	 		</div>

			<div class="form-field">
				<h3>District/School Services</h3>
	 			<simple-repeater-form label='District/School Service' data='curDistrictSchoolServices' fields='[{fieldLabel: "New District/School Service", fieldName: "name", fieldType: "text"}]'></simple-repeater-form>
	 		</div>

			<div class="form-field">
	 			<h3>Mileage Reimbursement Rate (cents per mile)</h3>
	 			<form-field model='curAppSettings.mileage_reimbursement' placeholder='Mileage Reimbursement' type='text'></form-field>
	 		</div>

			<div class="form-field">
	 			<h3>Cell Phone Reimbursement Max (per month)</h3>
				<form-field model='curAppSettings.cell_reimbursement' placeholder='Cell Phone Reimbursement' type='text'></form-field>
	 		</div>

			<div class="form-field">
	 			<h3>Global Data Links</h3>
	  			<simple-repeater-form label='Global Data Links' data='curAppSettings.global_data_links' fields='[{fieldLabel: "Link Title", fieldName: "link_title", fieldType: "text"},{fieldLabel: "Link URL", fieldName: "link_url", fieldType: "text"}]'></simple-repeater-form>
	  		</div>
			<button class="btn btn-success" ng-click="saveAppSettings()">Save Settings</button>
		</div>
	</div>
</div>

{% endblock %}
