<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>SESC Staff Tools</title>
		<base href="/">
 		<link rel="stylesheet" href="/static/css/staff-tools.min.css" />
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">

		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body ng-app="sescstafftools" ng-cloak>
		{% include 'partials/header.html' %}

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<div class="container-fluid">
					<div class="alert alert-danger">
						<ul>
							{% for message in messages %}
								<li>{{ message }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endif %}
		{% endwith %}

		<div id="app-wrap" class="container-fluid">
			{% block content %}{% endblock %}
		</div>

		{% include 'partials/footer.html' %}

		<!-- main app script -->
		<script src="/static/js/main.min.js"></script>
		<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
		<!--
		    IE8 support, see AngularJS Internet Explorer Compatibility http://docs.angularjs.org/guide/ie
		    For Firefox 3.6, you will also need to include jQuery and ECMAScript 5 shim
		  -->
		  <!--[if lt IE 9]>
		    <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
		    <script>
		      document.createElement('ui-select');
		      document.createElement('ui-select-match');
		      document.createElement('ui-select-choices');
		    </script>
		  <![endif]-->

	</body>
</html>
