<!-- extend app base layout -->
{% extends "base.html" %}

{% block content %}

<div class="row" ng-controller='reportBuilderCtrl' ng-init='reportBuilderInit()'>
	<sidebar></sidebar>
	<div id="app-main" class="col-md-9">
		<div class="container-fluid">
			<h2>Report Builder</h2>

			<div id="report-output" ng-show="reportBuilt" class="faded">
				<!-- <h3 class="report-title">{[ reportTitle ]}</h3> -->
				<a class="print-btn" href="javascript:window.print()" title="Print Report"><span class="glyphicon glyphicon-print"></span></a>

				<report-table ng-if="reportBuilt" type="{[ reportPreset.value ]}-{[ reportType ]}-report"></report-table>

				<div class="widget-create clearfix blue-box">

					<span class="widget-create-toggle" ng-click="chartControlsOpen = !chartControlsOpen">Create Chart/Graph &nbsp;<i class="glyphicon" ng-class="chartControlsOpen ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></i></span>
					<div class="widget-create-controls" ng-class="chartControlsOpen ? 'open' : 'closed'">
						<h3>Add Report Graph/Chart</h3>
						<label>Title: </label><br />
						<input type="text" ng-model="widgetTitle" />
						<br /><br />
						<label>Type: </label>
						<select class="form-control" ng-model="widgetType" ng-options="option as option.label for option in widgetOptions"></select>
						<br />
						<div>
							<h4>Filter Chart Data By:</h4>
							<filter-select model="newWidgetFilterSelect"></filter-select>
						</div>

 						<div>
							<h4>Chart Metrics from Current Data:</h4>
							<chart-metrics model="newWidgetMetricSelect"></chart-metrics>
						</div>

						<button class="chart-add-btn btn small btn-success" ng-click="addNewWidget(); chartControlsOpen = false">Create Chart/Graph</button>
					</div>
				</div>

				<div class="results">
					<report-widget ng-repeat="widget in widgets track by $index"></report-widget>
				</div>

				<button class="save-report-btn btn btn-success large" ng-click="saveReport(editingReport)">{[ saveBtnText ]}</button>
			</div>

			<form id="report-type-form" ng-show="!reportBuilt">
				<div class="form-field">
					<label class="small">Report Title: </label><br />
					<input type="text" ng-model="reportTitle" />
				</div>
				<div class="form-field clearfix">
					<h4>Report Type:</h4>
					<label class="report-type-option" ng-repeat="type in reportTypeOptions">
						<input type="radio" name="reportType" ng-model="$parent.reportType" value="{[ type.value ]}" />
						{[ type.label ]}
					</label>
				</div>
				<div class="form-field">
					<h4>Report Preset: </h4><br />
					<small>Choose from the report presets or build a custom report.</small><br /><br />
					<select class="form-control" ng-model="reportPreset" ng-options="option as option.label for option in reportPresetOptions"></select>
				</div>

				<div id="report-filters" class="clearfix">
					<div ng-show="reportPreset.value == 'monthly'">
						<h5>Report Month</h5>
						<div class="form-field one-half">
							<label>Month:</label>
							<select class="form-control" ng-model="reportMonth" ng-options="availReportMonths.indexOf(month) as month for month in availReportMonths"></select>
						</div>
						<div class="form-field one-half">
							<label>Year:</label>
							<select class="form-control" ng-model="reportYear" ng-options="year for year in availReportYears"></select>
						</div>
					</div>

					<div ng-show="reportPreset.value == 'district'">
						<h4>Report District</h4>
						<div class="form-field">
							<label>District:</label>
							<select class="form-control" ng-model="reportDistrict" ng-options="district as district.name for district in allDistricts"></select>
						</div>
						<h4>Report Date Range</h4>
						<div class="form-field one-half">
							<label>Report Start Date:</label>
							<form-field model='reportStartDate' placeholder='{[ reportStartDate ]}' type='date'></form-field>
						</div>
						<div class="form-field one-half">
							<label>Report End Date:</label>
							<form-field model='reportEndDate' placeholder='{[ reportEndDate ]}' type='date'></form-field>
						</div>
					</div>

					<div ng-show="reportPreset.value == 'custom'">
						<h4>Filters <span class="subtitle">Only show report data based on these filters.</span></h4>
						<button class="round-controls btn-add" ng-click="addReportFilter($event)">+</button>
						<div class="report-filters">
							<label>Filter By:</label>
							<ul class='list-unstyled'>
								{[reportFilters]}
								<li ng-repeat="filter in reportFilters" class="clearfix">
									<filter-select init-val="filter.filterSelect"></filter-select>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<button class="btn btn-primary btn-sm" ng-click="buildReport()">Build Report</button>
			</form>

		</div>
	</div>
</div>

{% endblock %}
