<!-- extend app base layout -->
{% extends "base.html" %}

{% block content %}

<div class="row" ng-controller='reportBuilderCtrl'>
	<sidebar></sidebar>
	<div id="app-main">
		<div class="container-fluid">
			<h2>Report Builder</h2>

			<form id="report-type-form" ng-if="!reportBuilt">
				<div class="form-field">
					<label class="small">Report Title: </label><br />
					<input type="text" ng-model="reportTitle" />
				</div>
				<div class="form-field clearfix">
					<h4>Report Type:</h4>
					<label class="report-type-option" ng-repeat="type in reportTypeOptions">
						<input type="radio" name="reportType" ng-model="$parent.reportType" value="{[ type.value ]}" />
						{[ type.label ]}
					</label>
				</div>
				<div class="form-field">
					<h4>Report Preset: </h4><br />
					<small>Choose from the report presets or build a custom report.</small><br /><br />
					<select class="form-control" ng-model="$parent.reportPreset" ng-options="option as option.label for option in $parent.curPresetOptions"></select>
				</div>

				<div id="report-filters" class="clearfix">

					<div ng-if="$parent.reportPreset.value == 'district'">
						<h4>Report District</h4>
						<div class="form-field">
							<label>District:</label>
							<select class="form-control" ng-model="$parent.$parent.reportDistrict" ng-options="district as district.name for district in $parent.$parent.allDistricts"></select>
						</div>
					</div>

					<div ng-if="$parent.reportPreset.value == 'user'">
						<h4>Report Consultant</h4>
						<div class="form-field">
							<label>Consultant:</label>
							<select class="form-control" ng-model="$parent.$parent.reportUser" ng-options="user as user.name for user in $parent.$parent.allUsers"></select>
						</div>
					</div>

					<div ng-if="$parent.reportPreset.value == 'general' || $parent.reportPreset.value == 'district' || $parent.reportPreset.value == 'user'">
						<h4>Report Date Range</h4>
						<div class="form-field one-half">
							<label>Report Start Date:</label>
							<form-field model='$parent.$parent.reportStartDate' placeholder='{[ $parent.$parent.reportStartDate ]}' type='date'></form-field>
						</div>
						<div class="form-field one-half">
							<label>Report End Date:</label>
							<form-field model='$parent.$parent.reportEndDate' placeholder='{[ $parent.$parent.reportEndDate ]}' type='date'></form-field>
						</div>
					</div>
				</div>

				<button class="btn btn-primary btn-sm" ng-click="buildReport()">Build Report</button>
			</form>

			<report-output  ng-if="reportBuilt"></report-output>
		</div>
	</div>
</div>

{% endblock %}
